/* Font import OXYGEN - 300 / 400 /700 (    font-family: 'Oxygen', sans-serif;) */
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
html {
  font-family: "Oxygen", sans-serif;
  text-align: center;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 480px;
    margin: 0 auto;
    background-color: rgb(139, 139, 139);
}

h1 {
    margin-bottom: 0rem;
    font-weight: bold;
    font-size: 2rem;
}

.description {
    font-size: 0.9rem;
    margin-bottom: 1.8rem;
}

.mainDisplay {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 5px;
    padding-top: 2rem;
}

.playerDisplay {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 30%;
}

.computerDisplay {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 30%;
}

.scoreDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleDisplay {
    font-weight: bold;
    font-size: 1.4rem;
}

.resultDisplay {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

#playerSelection,
#computerSelection {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(3px 3px #2c2e42);
}

#playerSelection img,
#computerSelection img{
    width: 10rem;
    background-color: inherit;
}

.playerSelection img {
    width: 30%;
}

.playerChoices {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
}

button {
    width: 30%;
    padding: 0;
    border-radius: 5px;
    transition: all 0.2s;
}

.reset {
    background-color: rgb(243, 130, 130);
    filter: drop-shadow(1px 1px hsl(235, 20%, 22%));
}
#rock {
    background-color: #CF4B39;
    filter: drop-shadow(3px 3px hsl(235, 20%, 22%));
}
#paper {
    background-color: #6699CC;
    filter: drop-shadow(3px 3px hsl(235, 20%, 22%));
}

#scissors {
    background-color: #f4d26c;
    filter: drop-shadow(3px 3px hsl(235, 20%, 22%));
}

button img {
    width: 100%;
    border-radius: 5% 5%;
}

button:hover {
    cursor: pointer;
    transform: translate(0px, -4px);
}
